* {
    border: 0;
    margin: 0;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
    margin: 1rem 65% 2rem 2rem;
}


.form_row {
    display: flex;
    flex: 1;
    margin: 0.5rem 0;
}

form label  {
    flex: 1;
    text-align: right;
    margin-right: 0.3rem;
}

form input, form textarea {
    border: solid 0.1rem black;
    border-radius: 0.2rem;
    flex: 5;
}

form textarea {
    height: 5rem;
}


input[type=submit], button {
    box-shadow: 0.2rem 0.2rem darkgray;
    flex: 1;
    margin: 0.2rem 0 0.2rem auto;
    padding: 0.5rem 1rem;
}

table  {
    border: solid 2px black;
    border-collapse: collapse;
    display: block;
    margin: 0 5%;
}

thead, tbody {
    display: block;
}

tr {
    display: flex;
}

th, td {
    border: solid 0.1rem black;
    padding: 0.3rem 0.5rem;
}

.table_name {
    flex: 2;
}

.table_description {
    flex: 4;
}

.table_date_added, .table_links, .table_actions {
    flex: 1;
    text-align: center;
}

#modal_popup {
    background-color: #778899;
    background-color: #77889966;
    display: none;
    left: 0;
    top: 0;
    height: 100%;
    overflow: auto;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#modal_dialog {
    background-color: GhostWhite;
    margin: 40% 30%;
    border: solid 0.1rem black;
}

#modal_dialog p {
    margin: 1rem;
}

#modal_course_id {
    display: none;
}

h3 {
    background-color: MediumBlue;
    color: MintCream;
    padding: 0.5rem;
    text-align: center;
}

footer {
    display: flex;
    padding 0.5rem;
}

footer button {
    margin: 1rem 6.5rem;
}

footer #modal_no {
    background-color: red;
}

footer #modal_yes {
    background-color: green
}
